.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 8px 0;
  padding: 16px;
  .search-input {
    border: none;
    padding: 5px;
    outline: none;
    width: 25%;
  }
}

input::placeholder {
  font-family: IRANSans , sans-serif;
  color: #84AECD;
  font-size: 13px;
}
