@import "../../../assets/variables";

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  .header-title {
    color: $main-color;
    font-size: 14px;
    cursor: pointer;
  }
  .more-icon {
    cursor: pointer;
  }
}
