<app-search-box (term)="onSearchInput($event)" ></app-search-box>
<app-service-categories (serviceFilter)="onChangeServiceType($event)" ></app-service-categories>
<!--<p nz-typography>my-services works!</p>-->
<main class="main-services">
  <div class="services-table">
    <nz-table  nzTemplateMode >
      <thead>
      <tr>
        <th>نام / مشخصه</th>
        <th>
          <span>هزینه</span>
        </th>
        <th>تاریخ سررسید</th>
        <th>عملیات</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let service of servicesList">
        <td>
          <span class="status">
            <img *ngIf="service.status === 'Active'" src="assets/icons/active-status.svg" alt="active">
            <img *ngIf="service.status === 'Pending'" src="assets/icons/pending-status.svg" alt="pending">
            <img *ngIf="service.status === 'Cancelled'" src="assets/icons/canceled-status.svg" alt="Cancelled">
          </span>
          <span class="service-icon">
            <img src="assets/icons/hosting.svg" alt="hosting" *ngIf="service.type === 'Hosting'" >
            <img src="assets/icons/cdn.svg" alt="cdn" *ngIf="service.type === 'CDN'" >
            <img src="assets/icons/ssl.svg" alt="ssl" *ngIf="service.type === 'SSl'" >
            <img src="assets/icons/other.svg" alt="other" *ngIf="service.type === 'Other'" >
            <img src="assets/icons/domain.svg" alt="domain" *ngIf="service.type === 'Domain'" >
            <img src="assets/icons/server.svg" alt="server" *ngIf="service.type === 'Server'" >
          </span>
          <span>{{ service.name }}</span>
        </td>
        <td>{{ service.amount }} تومان</td>
        <td>{{ service.nextduedate | date  }}</td>
        <td>
          <button type="button" class="btn" *ngIf="service.status === 'Active' " >مدیریت سرویس</button>
          <button type="button" class="btn" *ngIf="service.status === 'Pending'" >مشاهده فاکتور</button>
          <button type="button" class="btn abort-btn" disabled *ngIf="service.status === 'Cancelled'" >لغو شده </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</main>
