.main-services {
  padding: 0;
  max-height: 480px;
  overflow-y: auto;
  direction: ltr;
  .services-table {
    direction: rtl;
  }
  .service-icon {
    margin: 0 8px;
    height: 24px;
    width: 24px;
  }
  .btn {
    width: 105px;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #248FDE;
    color: #248FDE;
    font-size: 12px;
    font-family: IRANSans, sans-serif;
    margin: auto;
    cursor: pointer;
  }
  .abort-btn {
    opacity: 0.5;
    cursor: default;
  }
}
.main-services::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  width: 2px;
  background: rgba(85, 118, 139, 0.2);
}
