<section nz-row class="service-categories" [ngClass]="{ compact: innerHeight < 760 }" >
  <div nz-col nz-span="3" class="category" [ngClass]="{active: filterTerm === 'all-services'}" >
    <div class="category-filter" (click)="onFilterServices('all-services')" >
      <span class="category-icon">
        <img src="assets/icons/all-services-active.svg" alt="all services">
      </span>
      <span class="category-title">همه سرویس ها</span>
    </div>
    <span class="category-count">{{ servicesList.length }} سرویس</span>
  </div>
  <div nz-col nz-span="3" class="category" [ngClass]="{active: filterTerm === 'hosting'}">
    <div class="category-filter" (click)="onFilterServices('hosting')" >
      <span class="category-icon">
        <img src="assets/icons/hosting.svg" alt="hosting">
      </span>
      <span class="category-title">Hosting</span>
    </div>
    <span class="category-count">{{ hostingServices.length }} سرویس</span>
  </div>
  <div nz-col nz-span="3" class="category" [ngClass]="{active: filterTerm === 'domain'}">
    <div class="category-filter" (click)="onFilterServices('domain')" >
      <span class="category-icon">
        <img src="assets/icons/domain.svg" alt="domain">
      </span>
      <span class="category-title">Domain</span>
    </div>
    <span class="category-count">{{ domainServices.length }} سرویس</span>
  </div>
  <div nz-col nz-span="3" class="category" [ngClass]="{active: filterTerm === 'server'}">
    <div class="category-filter" (click)="onFilterServices('server')" >
      <span class="category-icon">
        <img src="assets/icons/server.svg" alt="server">
      </span>
      <span class="category-title">Server</span>
    </div>
    <span class="category-count">{{ serverServices.length }} سرویس</span>
  </div>
  <div nz-col nz-span="3" class="category" [ngClass]="{active: filterTerm === 'ssl'}">
    <div class="category-filter" (click)="onFilterServices('ssl')" >
      <span class="category-icon">
        <img src="assets/icons/ssl.svg" alt="ssl">
      </span>
      <span class="category-title">SSL</span>
    </div>
    <span class="category-count">{{ sslServices.length }} سرویس</span>
  </div>
  <div nz-col nz-span="3" class="category" [ngClass]="{active: filterTerm === 'cdn'}">
    <div class="category-filter" (click)="onFilterServices('cdn')" >
      <span class="category-icon">
        <img src="assets/icons/cdn.svg" alt="cdn">
      </span>
      <span class="category-title">CDN</span>
    </div>
    <span class="category-count">{{ cdnServices.length }} سرویس</span>
  </div>
  <div nz-col nz-span="3" class="category" [ngClass]="{active: filterTerm === 'other'}">
    <div class="category-filter" (click)="onFilterServices('other')" >
      <span class="category-icon">
        <img src="assets/icons/other.svg" alt="other">
      </span>
      <span class="category-title">Other</span>
    </div>
    <span class="category-count">{{ otherServices.length }} سرویس</span>
  </div>
</section>
