@import "../../../assets/variables";

.service-categories {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $main-color;
    .category-title {
      font-size: 14px;
      padding-top: 5px;
    }
    .category-icon {
      height: 35px;
    }
    .category-count {
      font-size: 12px;
      margin-top: 12px;
      opacity: 0.7;
    }
    .category-filter {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
  }
}

.service-categories {
  .category.active {
    .category-title , .category-count {
      color: #248FDE;
      opacity: 1;
    }
  }
}

.service-categories.compact {
  .category {
    .category-icon , .category-count {
      display: none;
    }
    .category-title {
      padding-bottom: 8px;
    }
  }
}.service-categories.compact {
  .category.active {
    .category-title {
      border-bottom: 2px solid #248FDE;
    }
  }
}
