/* You can add global styles to this file, and also import other style files */

//========================================== Global ============================================

html {
  direction: rtl;
  scroll-behavior: smooth;
  font-family: IRANSans , sans-serif !important;
}

body {
  font-family: IRANSans , sans-serif !important;
}

.container {
  max-width: 768px;
  margin: auto;
}

.w-100 {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  th {
    text-align: center !important;
    color: rgba(85, 118, 139, 0.7) !important;
    font-size: 12px;
    padding-top: 0 !important;
  }
  th:first-child {
    text-align: right !important;
    padding-right: 8px;
  }
  tr {
    padding: 20px 0 0;
  }
  td {
    text-align: center;
    padding: 20px 16px 0 !important;
    color: #55768B;
    font-size: 13px;
    font-weight: bold;
  }
  td:first-child {
    text-align: right;
    padding-right: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}

//=========================================== Media Queries =======================================

@media screen and (min-width: 1366px) {
  .container {
    max-width: 916px;
  }
}

@media screen and (min-width: 1451px) {
  .container {
    max-width: 1450px;
  }
}
